@font-face {
  font-family: 'TTCommons';
  src: url('assets/fonts/TTCommons-Regular.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 84px;
  font-weight: 400;
}

body {
  margin: 0 auto;
  font-family: "TTCommons", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: var(--color_text);
  background-color: var(--color_white);
}